<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">
    <title>Welcome to IVA</title>
</head>
<body style="font-family: 'inter'; padding: 30px;" >
    {% comment %} <div class="header" 
            style="display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            position: relative;
            background-color: #132D8C;
            padding: 10px;
            height: 250px;"> {% endcomment %}
        <!-- <p style="position: absolute; bottom: 23px; color: #132D8C; font-weight: 400; font-size: 20px;">we are happy you are here!!!</p>
        <img style="height: 190px;"  src="https://uploads-ssl.webflow.com/630dd6f80c22d9da69425b41/630dd7b368a00e8a6876dc66_young-woman.png" alt=""> -->
        <div class="logo" style="display: flex; align-items: center;">
            <img style="height: 140px;" src="https://drive.google.com/uc?export=view&id=1DHPfQ1nRmmAOB0wyUO1JX2T72WBfg91h" width="1500" height="1500" alt="">
            {% comment %} <p style="font-size: 39px; font-weight: bold; color: white;">IVA</p>
        </div>
        <p style="font-weight: bold; color: white; font-size: 10px; margin-top: 30px;">First AI proptech in Africa</p> {% endcomment %}
    </div>
    <div class="main-sec">
        <h1 style="display: flex; align-items: center; justify-content: center; color: #132D8C; font-weight: bold; font-size: 30px;">WELCOME!!!</h1>
        <h4>Hi,</h4>
        <p>

            You have been added to Iva Africa waitlist.
            
            We are happy to have you as one of our founding customers.
            
            Want to know what that means? Well, it simply means you will always be one of the first people to get updates on new products and other benefits.
            
            We are building Iva Africa to improve the living experience of young Africans .
            
            Our product test phase will soon be sent to you and We would love Your feedback as it helps us to make sure that we’re delivering exactly what customers want.
            
            Over the next few weeks, we’ll be sending you a few more emails to help you gain maximum value from Iva Africa and provide some exciting behind-the-scenes information.
            
            Thanks! </p>
    </div>
</body>
</html>